{% extends "layout.twig" %}
{% block head %}
    <style>
        #edit:hover {
            color: blue;
        }
        h2 {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <a class="btn btn-outline-light" href="/curriculum-generator/" id="edit">Curriculum</a>
    <div class="jumbotron jumbotron-fluid bg-primary text-white">
        <div class="container">
            <h1 class="display-3">Gestiona tu Curriculum</h1>
            <p class="lead">Añade, Modifica y Elimina datos importantes en tu Resumen Curricular</p>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="">Resumen Curricular</h2>
            <span>
                <a class="btn btn-outline-primary" href="/curriculum-generator/resume/add">Cambiar resumen</a>
            </span>
        </div>
        <p>{{ resume.content }}</p>
    </div>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="">Experiencia Laboral</h2>
            <span>
                <a class="btn btn-outline-primary" href="/curriculum-generator/jobs/add">Agregar trabajo</a>
            </span>
        </div>
        <table class="table border">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Logros</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                    <tr>
                        <td>
                            <b>{{ job.id }}</b>
                        </td>
                        <td>{{ job.title }}</td>
                        <td>{{ job.description }}</td>
                        <td>
                            {% for achievement in job.achievements %}
                                <li>{{ achievement.description }}</li>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="">
                                <i class="text-info fa fa-edit"></i>
                            </a>
                            <a href="">
                                <i class="text-danger fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="">Proyectos Realizados</h2>
            <span>
                <a class="btn btn-outline-primary" href="/curriculum-generator/projects/add">Agregar proyecto</a>
            </span>
        </div>
        <table class="table border">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Tecnologías</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>
                            <b>{{ project.id }}</b>
                        </td>
                        <td>{{ project.title }}</td>
                        <td>{{ project.description }}</td>
                        <td>
                            {% for technology in project.technologies %}
                                <li>{{ technology.title }}</li>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="">
                                <i class="text-info fa fa-edit"></i>
                            </a>
                            <a href="">
                                <i class="text-danger fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="">Habilidades & Herramientas</h2>
            <span>
                <a class="btn btn-outline-primary" href="/curriculum-generator/skills/add">Agregar Habilidad</a>
            </span>
        </div>
        <div class="container d-flex justify-content-between">
            <div>
                <h3>Frontend</h3>
                <ul>
                    {% for frontend in frontends %}
                        <li>
                            {{ frontend.title }}
                            <a href="">
                                <i class="text-info fa fa-edit"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h3>Backend</h3>
                <ul>
                    {% for backend in backends %}
                        <li>
                            {{ backend.title }}
                            <a href="">
                                <i class="text-info fa fa-edit"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h3>Frameworks</h3>
                <ul>
                    {% for framework in frameworks %}
                        <li>
                            {{ framework.title }}
                            <a href="">
                                <i class="text-info fa fa-edit"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="">Idiomas</h2>
            <span>
                <a class="btn btn-outline-primary" href="/curriculum-generator/languages/add">Agregar Idioma</a>
            </span>
        </div>
        <ul>
            {% for language in languages %}
                <li>{{ language.language }}
                    <a href="">
                        <i class="text-info fa fa-edit"></i>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
