{% extends "layout.twig" %}
{% block head %}
    <style>
        h1,
        h2 {
            margin: 0;
        }
        h2 {
            font-size: 2em;
        }
        h3 {
            font-size: 1.6em;
        }

        #resume-header {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        #profile-picture {
            width: 100%;
            border-radius: 10%;
        }

        #resume-footer {
            padding: 20px;
            text-align: center;
        }

        .border-bottom-gray {
            padding-bottom: 10px;
            border-bottom: solid 1px darkgray;
        }

        .work-position {
            margin-bottom: 40px;
        }

        .project {
            margin-bottom: 40px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <a class="btn btn-outline-dark" href="/admin" id="edit">Edit</a>
        <div class="row" id="resume-header">
            <div class="col-3">
                <img alt="" id="profile-picture" src="https://avatars0.githubusercontent.com/u/27207751?s=460&v=4">
            </div>
            <div class="col">
                <h1>Ángel Cabrera</h1>
                <h2>FullStack Web Developer</h2>
                <ul>
                    <li>Mail: soyangelcabrera@gmail.com</li>
                    <li>Phone: +584240000000</li>
                    <li>LinkedIn:
                        <a href="https://www.linkedin.com/in/angel-cabrera/">@angel-cabrera</a>
                    </li>
                    <li>Github:
                        <a href="https://github.com/angelcabrera">@angelcabrera</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="border-bottom-gray">Resumen curricular</h2>
                <p>
                    {{ resume }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div>
                    <h3 class="border-bottom-gray">Experiencia laboral</h3>
                    <ul>
                        {% for job in jobs %}
                            <li class="work-position">
                                <h5>{{ job.title }}</h5>
                                <p>{{ job.description }}</p>
                                {% if job.achievements[0] %}
                                    <strong>Logros:</strong>
                                    <ul>
                                        {% for achievement in job.achievements %}
                                            <li>
                                                {{ achievement.description }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h3 class="border-bottom-gray">Proyectos</h3>
                    {% for project in projects %}
                        <div class="project">
                            <h5>{{ project.title }}</h5>
                            <div class="row">
                                <div class="col-3">
                                    <img alt="" id="profile-picture" src="https://ui-avatars.com/api/?name=John+Doe&size=255">
                                </div>
                                <div class="col-9">
                                    <p>{{ project.description }}</p>
                                    <strong>Technologies used:</strong>
                                    {% for technology in project.technologies %}
                                        <span class="badge badge-secondary">{{ technology.title }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-4">
                <h3 class="border-bottom-gray skills">Skills & Tools</h3>
                <h4>Backend</h4>
                <ul>
                    {% for backend in backends %}
                        <li>{{ backend.title }}</li>
                    {% endfor %}
                </ul>
                <h4>Frontend</h4>
                <ul>
                    {% for frontend in frontends %}
                        <li>{{ frontend.title }}</li>
                    {% endfor %}
                </ul>
                <h4>Frameworks</h4>
                <ul>
                    {% for framework in frameworks %}
                        <li>{{ framework.title }}</li>
                    {% endfor %}
                </ul>
                <h3 class="border-bottom-gray">Idiomas</h3>
                <ul>
                    {% for language in languages %}
                        <li>{{ language.language }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
